body {
  font-family: sans-serif;
  background-color: #eee;
  margin: 0px;
  padding: 0px;
}
#banner {
  font-size: 30px;
  color: #fff;
  text-align: center;
  height: 60px;
  width: 100%;
  background-color: #007acc;
  padding-top: 10px;
}
#version-text {
  font-size: 14px;
  color: #acf0c4;
}
#shape {
  height: 150px;
  width: 150px;
  /*background-color: red;*/
  display: none;
  position: absolute;
  visibility: hidden;
}
.bold {
  font-weight: bold;
}
#info {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
}
.button {
  height: 50px;
  background-color: black;
  color: white;
  /*border-radius: 20px; */
  border: none;
  cursor: pointer;
}

#resetGame {
  display: none;
}

/* .buttonSpace {
  float: left;
} */

#controls {
  display: flex;
}

#container {
  width: 1000px;
  height: 600px;
  margin: 0px auto;
  /*            background-color: #555;*/
  position: relative;
  clear: both;
}
#time {
  /* position: relative; */
  bottom: 15px;
}

#startSpace {
  width: 100px;
  height: 100px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#timeSpace {
  width: 125px;
  height: 25px;
  font-size: 15px;
  margin: 0px;
}
#timeTaken {
  width: 125px;
  height: 25px;
  font-size: 15px;
  margin: 0px;
}

#averageSpace {
  width: 125px;
}
#showAvgTime {
  width: 125px;
  text-align: center;
  padding-top: 5px;
}
#resetSpace {
  width: 150px;
  height: 100px;
  margin-left: 10px;
}
#endSpace {
  width: 100px;
  height: 100px;
}

#endBTN {
  width: 100%;
  height: 50px;
  background-color: #dc143c;
  color: #ffffff;
  border: 0px;
}

@media screen and (max-width: 500px) {
  #banner {
    width: 100%;
    font-size: 50px;
    height: 60px;
  }
  #info {
    width: 100%;
  }
  h1 {
    font-size: 150%;
  }
}

@media screen and (max-width: 400px) {
  #banner {
    width: 100%;
    font-size: 40px;
    height: 50px;
  }
  #info {
    width: 100%;
  }
  h1 {
    font-size: 120%;
  }
}

@media screen and (max-width: 300px) {
  #banner {
    width: 100%;
    font-size: 15px;
    height: 20px;
  }
  #info {
    width: 100%;
  }
  h1 {
    font-size: 60%;
  }
}
