body {
  font-family: sans-serif;
  background-color: #eee;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

html {
  height: 100%;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

#banner {
  font-size: 30px;
  color: #fff;
  text-align: center;
  height: 60px;
  width: 100%;
  background-color: #007acc;
  padding-top: 10px;
  display: flex;
}
#inner-banner-1 {
  flex-grow: 1;
}

#inner-banner-2 {
  flex-grow: 1;
}

#inner-banner-3 {
  font-size: 16px;
  flex-grow: 1;
  display: flex;
  align-items: baseline;
}

#aboutSpace {
  flex-grow: 1;
}
#githubSpace {
  flex-grow: 1;
}
#modeSpace {
  flex-grow: 1;
}

#version-text {
  font-size: 14px;
  color: #acf0c4;
}
#shape {
  height: 150px;
  width: 150px;

  display: none;
  position: absolute;
}
.bold {
  font-weight: bold;
}
#info {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
}
.button {
  height: 50px;
  background-color: black;
  color: white;

  border: none;
  cursor: pointer;
}

#resetGame {
  display: none;
}

#controls {
  display: flex;
}

#container {
  min-height: 100%;
}
#main {
  padding-bottom: 40px;
  position: relative;
}
#shape-container {
  width: 100%;
  height: 600px;
  margin: 0px;

  position: relative;
  clear: both;
}

#modeBtn {
  width: 175px;
  height: 25px;
  background-color: aliceblue;
  cursor: pointer;
}
.dark-mode {
  background-color: black;
  color: white;
}

#time {
  bottom: 15px;
}

#startSpace {
  width: 100px;
  height: 50px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#timeSpace {
  width: 125px;
  height: 25px;
  font-size: 15px;
  margin: 0px;
}
#timeTaken {
  width: 125px;
  height: 25px;
  font-size: 15px;
  margin: 0px;
}

#resetSpace {
  width: 150px;
  height: 50px;
}
#endSpace {
  width: 100px;
  height: 50px;
}

#endBTN {
  width: 100%;
  height: 50px;
  background-color: #dc143c;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
}
#pointer {
  width: 40px;
  padding-left: 8px;
  padding-top: 3px;
}

#pointer-white {
  display: none;
  width: 40px;
  padding-left: 8px;
  padding-top: 3px;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #007acc;
  margin-top: -40px;
  clear: both;
}
#scoreText {
  text-align: right;
  font-size: 2rem;
  padding-top: 8px;
  margin-left: 5px;
}

#scoreCount {
  width: 75px;
  height: 100%;

  text-align: center;
  font-size: 2rem;
  padding-top: 8px;
}

.about-container {
  width: 500px;
  margin: 0 auto;
}

.about-container a {
  color: red;
}
#movie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
