body {
  font-family: sans-serif;
  background-color: #eee;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

html {
  height: 100%;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

#banner {
  font-size: 30px;
  color: #fff;
  text-align: center;
  height: 60px;
  width: 100%;
  background-color: #007acc;
  padding-top: 10px;
  display: flex;
}
#inner-banner-1 {
  flex-grow: 1;
}

#inner-banner-2 {
  flex-grow: 1;
}

#inner-banner-3 {
  font-size: 16px;
  flex-grow: 1;
  display: flex;
  align-items: baseline;
}

#aboutSpace {
  flex-grow: 1;
}
#githubSpace {
  flex-grow: 1;
}
#modeSpace {
  flex-grow: 1;
}

#version-text {
  font-size: 14px;
  color: #acf0c4;
}
#shape {
  height: 150px;
  width: 150px;
  /*background-color: red;*/
  display: none;
  position: absolute;
  /* visibility: hidden; */
}
.bold {
  font-weight: bold;
}
#info {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
}
.button {
  height: 50px;
  background-color: black;
  color: white;
  /*border-radius: 20px; */
  border: none;
  cursor: pointer;
}

#resetGame {
  display: none;
}

/* .buttonSpace {
  float: left;
} */

#controls {
  display: flex;
}

#container {
  min-height: 100%;
}
#main {
  padding-bottom: 40px;
  position: relative;
}
#shape-container {
  width: 100%;
  height: 600px;
  margin: 0px;
  /* background-color: #555; */
  position: relative;
  clear: both;
}

#modeBtn {
  width: 175px;
  height: 25px;
  background-color: aliceblue;
  cursor: pointer;
}
.dark-mode {
  background-color: black;
  color: white;
}

#time {
  /* position: relative; */
  bottom: 15px;
}

#startSpace {
  width: 100px;
  height: 50px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#timeSpace {
  width: 125px;
  height: 25px;
  font-size: 15px;
  margin: 0px;
}
#timeTaken {
  width: 125px;
  height: 25px;
  font-size: 15px;
  margin: 0px;
}

/* #averageSpace {
  width: 125px;
} */
/* #showAvgTime {
  width: 125px;
  text-align: center;
  padding-top: 5px;
} */
#resetSpace {
  width: 150px;
  height: 50px;
}
#endSpace {
  width: 100px;
  height: 50px;
}

#endBTN {
  width: 100%;
  height: 50px;
  background-color: #dc143c;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
}
#pointer {
  width: 40px;
  padding-left: 8px;
  padding-top: 3px;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #007acc;
  margin-top: -40px;
  clear: both;
}
#scoreText {
  text-align: right;
  font-size: 2rem;
  padding-top: 8px;
  margin-left: 5px;
}

#scoreCount {
  width: 75px;
  height: 100%;

  text-align: center;
  font-size: 2rem;
  padding-top: 8px;
}
/* #finalScoreSpace {
  width: 400px;
  height: 300px;
  background-color: #007acc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-align: center;
} */

@media screen and (max-width: 500px) {
  #banner {
    width: 100%;
    font-size: 50px;
    height: 60px;
  }
  #info {
    width: 100%;
  }
  h1 {
    font-size: 150%;
  }
}

@media screen and (max-width: 400px) {
  #banner {
    width: 100%;
    font-size: 40px;
    height: 50px;
  }
  #info {
    width: 100%;
  }
  h1 {
    font-size: 120%;
  }
}

@media screen and (max-width: 300px) {
  #banner {
    width: 100%;
    font-size: 15px;
    height: 20px;
  }
  #info {
    width: 100%;
  }
  h1 {
    font-size: 60%;
  }
}
