<<<<<<< HEAD
        body{
            font-family: sans-serif;
            background-color: #eee;
        }
        #banner {
            font-size: 80px;
            color: #fff;
            text-align: center;
            height: 100px;
            width: 100%;
            background-color: cornflowerblue;
        }
        #shape {
            height:200px;
            width:200px;
            /*background-color: red;*/
            display: none;
            position:relative;
        }
        .bold {
            font-weight:bold;
        }
        #info {
            width: 500px;
            margin: 0 auto;
        }
        .button {
            height:50px;
            width: 80pxpx;
            background-color: black;
            color: white;
            /*border-radius: 20px; */
            border: none; 
        }
        
        #resetGame{
            display: none;
        }
@media screen and (max-width: 400px){
    #banner{
        width:100%;
        font-size: 40px;
        height: 60px;
    }
    #info{
        width:100%
    }
}
       
=======
body {
  font-family: sans-serif;
  background-color: #eee;
  margin: 0px;
}
#banner {
  font-size: 30px;
  color: #fff;
  text-align: center;
  height: 40px;
  width: 100%;
  background-color: rgb(237, 100, 216);
}
#shape {
  height: 150px;
  width: 150px;
  /*background-color: red;*/
  display: none;
  position: absolute;
  visibility: hidden;
}
.bold {
  font-weight: bold;
}
#info {
  width: 500px;
  margin: 0 auto;
}
.button {
  height: 50px;
  background-color: black;
  color: white;
  /*border-radius: 20px; */
  border: none;
  cursor: pointer;
}

#resetGame {
  display: none;
}

.buttonSpace {
  float: left;
}

#container {
  width: 1000px;
  height: 600px;
  margin: 0px auto;
  /*            background-color: #555;*/
  position: relative;
  clear: both;
}
#time {
  position: relative;
  bottom: 15px;
}

#startSpace {
  width: 70px;
  height: 100px;
}

#timeSpace {
  width: 100px;
  height: 100px;
}

#averageSpace {
  width: 125px;
  height: 100px;
}

#resetSpace {
  width: 50px;
  height: 100px;
  margin-left: 10px;
}
@media screen and (max-width: 500px) {
  #banner {
    width: 100%;
    font-size: 50px;
    height: 60px;
  }
  #info {
    width: 100%;
  }
  h1 {
    font-size: 150%;
  }
}

@media screen and (max-width: 400px) {
  #banner {
    width: 100%;
    font-size: 40px;
    height: 50px;
  }
  #info {
    width: 100%;
  }
  h1 {
    font-size: 120%;
  }
}

@media screen and (max-width: 300px) {
  #banner {
    width: 100%;
    font-size: 15px;
    height: 20px;
  }
  #info {
    width: 100%;
  }
  h1 {
    font-size: 60%;
  }
}
>>>>>>> develop
